Flask==3.1.*
gevent==25.9.*
html2text==2025.4.15
pyjwt==2.10.*
python-docx==1.2.*
pymysql
requests==2.32.*
beautifulsoup4==4.14.*
markdown-it-py==4.0.0
mdit_py_plugins==0.5.*
linkify-it-py==2.0.3
html-to-markdown==2.27.*
matplotlib==3.10.*
Pygments==2.19.*
